
//-------------------------------------
// header
//-------------------------------------
.header
    ul
        li
            a Huei Tan
        li
            a
                img(src="https://gravatar.com/avatar/ce5f902d8692108fda7efffb1e376544")