
- var baseUrl = '.'

- var css_location = baseUrl + '/stylesheets'
- var js_location = baseUrl + '/script'
- var image_location = baseUrl + '/images'


doctype html
html
    head
        meta(name="author", content="")
        meta(name="title", content="")
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")

        meta(property="og:title", content="")
        meta(property="og:type", content="")
        meta(property="og:url", content="")
        meta(property="og:image", content="")
        meta(property="og:description", content="")
        meta(property="og:site_name", content="")
        
        block externalMETA
        
        block externalTITLE
        
        title Huei Tan
        
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="#{css_location}/hueitan.css")
        
        block externalCSS
    body

        include _header.jade

        .container
            block content

        include _footer.jade

        script(src="#{js_location}/hueitan.js")
        
        block externalJS
