doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .background-image

    .container
        block content

    script(src='//maps.googleapis.com/maps/api/js?sensor=true&libraries=places')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')
    script(src='/javascripts/script.js')